.buy_button {
    margin-left: 35%;
    margin-top: 1%;
    height: 10%;
    width: 30%;
    font-size: 1.5vw;
    background-color: #171717;
    color: white;
    border-radius: 40px;
}

.mail_input {
    margin-left: 35%;
    height: 10%;
    width: 30%;
    font-size: 1.5vw;
    /* text-size-adjust; */
    text-align: center;
    background-color: #171717;
    border-bottom: 10px;
    color: white;
    border-radius: 40px;
    font-family: 'Figtree', sans-serif;
}